@page
@model SystemyWP.API.Pages.Error
@{
    ViewData["Title"] = "Error";
}

<h2 class="pb-2 pt-3">@ViewData["Title"]</h2>
<div>
<h1 class=error>
    Wystąpił błąd, proszę spróbować później. Jeśli błąd będzie się powtarzał, skontaktuj się z administratorem.
</h1>
</div>