.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.15s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.nav-width {
    max-width: 15rem;
}

.nav-link:hover {
    opacity: 0.5;
}

.nav-active-link {
    opacity: 0.5;
}

.profile-card {
    height: 150px;
    width: 154px;
    background-color: #3c2560;
    color: #ffd606;
    
}

.profile-link:hover {
    opacity: 0.5
}