@page
@model SystemyWP.API.Pages.Account.ChangePassword
@{
    ViewData["Title"] = "";
}

<div>
    <div>
        <form id="change-password-form" method="post">
            <input type="hidden" asp-for="Form.ReturnUrl" value="@Model.Form.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>
            <div >
                <label asp-for="Form.OldPassword"></label>
                <input asp-for="Form.OldPassword"/>
                <span asp-validation-for="Form.OldPassword"></span>
            </div>
            <div >
                <label asp-for="Form.NewPassword"></label>
                <input asp-for="Form.NewPassword"/>
                <span asp-validation-for="Form.NewPassword"></span>
            </div>
            <div >
                <label asp-for="Form.ConfirmPassword"></label>
                <input asp-for="Form.ConfirmPassword"/>
                <span asp-validation-for="Form.ConfirmPassword"></span>
            </div>
            <button type="submit">Zmień Hasło</button>
            <button asp-page-handler="Return" method="post">Wróć</button>
        </form>
    </div>
</div>