@page
@model SystemyWP.API.Pages.Account.ChangePassword
@{
    ViewData["Title"] = "";
    Layout = "_Layout";
}


        <form id="change-password-form" method="post">
        <div class="flex-dialog">
        <h4>Systemy Wspomagania Pracy</h4>
            <h1>Zmiana hasła</h1>
            <input type="hidden" asp-for="Form.ReturnUrl" value="@Model.Form.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="Form.OldPassword" placeholder="Obecne hasło"/>
                <span class="val-text" asp-validation-for="Form.OldPassword"></span>

                <input asp-for="Form.NewPassword" placeholder="Nowe hasło"/>
                <span class="val-text" asp-validation-for="Form.NewPassword"></span>

                <input asp-for="Form.ConfirmPassword" placeholder="Powtórz nowe hasło"/>
                <span class="val-text" asp-validation-for="Form.ConfirmPassword"></span>

            </div>
            <div class="flex-links">
            <button class="button" type="submit">Zmień hasło</button>
            <button class="button" asp-page-handler="Return" method="post">Wróć</button>
            </div>
        </form>
