@page
@model SystemyWP.API.Pages.Account.ForgotPassword

@{
    ViewData["Title"] = "Forgotten Password";
    Layout = "_Layout";
}

<div class="row">
    <div class="m-auto">
            <form method="post" class="pb-3">
         <h4>Systemy Wspomagania Pracy</h4>
            <h2>Przypomnij hasło</h2>
            <p>Podaj adres email użyty przy rejestracji konta</p>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="flex-dialog">
                <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                <span class="val-text" asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="button">Wyślij</button>
        </form>
    </div>
</div>