@page
@model SystemyWP.API.Pages.Account.Lockout
@{
    ViewData["Title"] = "Uwaga! Zablokowano możliwość zalogowania do tego konta";
    Layout = "_Layout";
}

<header>
    <h1 >@ViewData["Title"]</h1>
    <p >Przekroczono limit nieudanych prób zalogowania do tego konta. Dla bezpieczeństwa zostało ono zablokowane. Prosimy spróbować ponownie za chwilę.</p>
</header>