@page
@model SystemyWP.API.Pages.Account.Lockout
@{
    ViewData["Title"] = "Uwaga! Zablokowano możliwość zalogowania do tego konta";
    Layout = "_Layout";
}

<div class="confirmation-card">

  <h2 class="lock"> @ViewData["Title"]
  </h2>
    <p >Przekroczono limit nieudanych prób zalogowania do tego konta.</p>
    <p>Dla bezpieczeństwa zostało ono zablokowane. Prosimy spróbować ponownie za chwilę.</p>
</div>