@page
@model SystemyWP.API.Pages.Account.Login

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<form method="post">
    <h4>Systemy Wspomagania Pracy</h4>
    <h2>Zaloguj</h2>
    <input type="hidden" asp-for="Form.ReturnUrl" value="@Model.Form.ReturnUrl">
    <div class="flex-dialog">
        <input asp-for="Form.Username" placeholder="Nazwa Użytkowika" />
        <span class="val-text" asp-validation-for="Form.Username"></span>
        <input asp-for="Form.Password" placeholder="Hasło"/>
        <span class="val-text" asp-validation-for="Form.Password"></span>
    </div>
    @if (Model.CustomErrors.Count > 0)
    {
        <div>
            @foreach (var e in Model.CustomErrors)
            {
                <div class="val-text">@e</div>
            }
        </div>
    }
    <div >
        <button class="button" type="submit">Zaloguj</button>
    </div>

    <div class="flex-links">
      <a id="forgot-password" asp-page="./ForgotPassword">Zapomniałeś hasła?</a>
    </div>
</form>
