@page
@model SystemyWP.API.Pages.Account.Login

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<form method="post">
    <input type="hidden" asp-for="Form.ReturnUrl" value="@Model.Form.ReturnUrl">
    <div class="flex-dialog">
        <label>Nazwa Użytkowika</label>
        <input asp-for="Form.Username"/>
        <span class="val-text" asp-validation-for="Form.Username"></span>

        <label>Hasło</label>
        <input asp-for="Form.Password"/>
        <span class="val-text" asp-validation-for="Form.Password"></span>
    </div>
    @if (Model.CustomErrors.Count > 0)
    {
        <div>
            @foreach (var e in Model.CustomErrors)
            {
                <div class="error">@e</div>
            }
        </div>
    }
    <div >
        <button class="button" type="submit">Zaloguj</button>
    </div>
    <hr>
    <div class="flex-links">
      <a id="forgot-password" asp-page="./ForgotPassword">Zapomniałeś hasła?</a>
      <a id="forgot-password" asp-page="./Client">Nie masz konta? Zarejestruj się</a>
     </div>
</form>
