@page
@model SystemyWP.API.Pages.Account.Login

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<form method="post">
    <input type="hidden" asp-for="Form.ReturnUrl" value="@Model.Form.ReturnUrl">
    <div>
        <label>Nazwa Użytkowika</label>
        <input asp-for="Form.Username"/>
        <span asp-validation-for="Form.Username"></span>
    </div>
    <div>
        <label>Hasło</label>
        <input asp-for="Form.Password"/>
        <span asp-validation-for="Form.Password"></span>
    </div>
    @if (Model.CustomErrors.Count > 0)
    {
        <div>
            @foreach (var e in Model.CustomErrors)
            {
                <div class="error">@e</div>
            }
        </div>
    }
    <div >
        <button type="submit">Zaloguj</button>
    </div>
    <hr>
    <div >
        <p>
            <a id="forgot-password" asp-page="./ForgotPassword">Zapomniałeś hasła?</a>
        </p>
    </div>
</form>