@page
@model SystemyWP.API.Pages.Account.ResetPassword
@{
    ViewData["Title"] = "Reset password";
    Layout = "_Layout";
}
        <form method="post">
         <h4>Systemy Wspomagania Pracy</h4>
            <h2>Reset hasła</h2>
            <div asp-validation-summary="ModelOnly"></div>
            <input asp-for="Input.Code" type="hidden"/>
            <div class="flex-dialog">
                <input asp-for="Input.Email" placeholder="Email"/>
                <span class="val-text" asp-validation-for="Input.Email"></span>

                <input asp-for="Input.Password" placeholder="Nowe hasło"/>
                <span class="val-text" asp-validation-for="Input.Password"></span>

                <input asp-for="Input.ConfirmPassword" placeholder="Powtórz hasło"/>
                <span class="val-text" asp-validation-for="Input.ConfirmPassword"></span>
            </div>
             <button class="button" type="submit">Reset</button>
        </form>
