@page
@model SystemyWP.API.Pages.Account.ResetPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie zmiany hasła";
     Layout = "_Layout";
}
<div class="confirmation-card">

<h2>@ViewData["Title"]</h2>

<p>
    Hasło zostało zresetowane poprawnie.
</p>

<p>
Przejdź do<a class="log-link" asp-page="./Login">strony logowania.</a>
</p>
</div>