@page
@model SystemyWP.API.Pages.Account.ResetPassword
@{
    ViewData["Title"] = "Reset password";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>
<h4>Reset your password.</h4>
<hr/>
<div>
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <input asp-for="Input.Code" type="hidden"/>
            <div class="flex-dialog">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email"/>
                <span class="val-text" asp-validation-for="Input.Email"></span>

                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password"/>
                <span class="val-text" asp-validation-for="Input.Password"></span>

                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword"/>
                <span class="val-text" asp-validation-for="Input.ConfirmPassword"></span>
            </div>
            <hr>
            <button class="button" type="submit">Reset</button>
        </form>
    </div>
</div>