<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="" />
    <style>
    * {
        font-family: Tahoma, Verdana, sans-serif !important;
        box-sizing: border-box;
    }
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgb(230,214,221);
            background: linear-gradient(45deg, rgba(230,214,221,1) 0%, rgba(219,244,242,1) 100%);

        }
        
        .title {
            text-align: center;
            color: #000;
            font-size: 32px;
        }

        form {
            display:  flex;
            flex-direction: column;
             background-color: #FCFCFC;
             padding: 1.5rem 2rem;
             max-width: 350px;
             width: 100%;
             margin: 0 1rem;
            -webkit-box-shadow: 4px 5px 11px 4px #BFBFBF;
            box-shadow: 4px 5px 11px 4px #BFBFBF;

        }

        form h4 {
            color: #808080;
            margin-bottom: 5px;
        }

        .flex-dialog {
            display: flex;
            flex-direction: column;

        }

        .flex-dialog label {
            padding: 5px 0;

         }

        .flex-dialog input {
              width: 100%;
              padding: 10px 0;
              font-size: 16px;
              color: #000;
              margin-bottom: 5px;
              border: none;
              border-bottom: 1px solid #000;
              outline: none;
              background: transparent;
        }

        .flex-dialog > input:focus {
             outline: none;
             border: none;
             border-bottom: 2px solid #0a74f1;
         }

        .button {
            margin: 5px 0px;
            width: 100%;
            height: 35px;
            padding: 10px;
            background-color: #0a74f1;
            border: none;
            font-weight: bold;
            font-size: 15px;
            color: #fff;
        }

        .button:hover {
            opacity: 0.6;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .flex-links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .flex-links a {
            text-decoration: none;
            padding: 10px;
            margin: 5px auto;
            color: #000;
        }
                .flex-links a:hover {
                cursor: pointer;
                color: #6F8AB7;
                }

        .val-text {
        color: #F24333;
        margin: 10px 0;
        }

        .confirmation-card {
            background-color: #f0f0f0;
            padding: 1.5rem 2rem;
            max-width: 450px;
            width: 100%;
            margin: 0 1rem;
            border-radius: 8px;
        }

        .lock {
            color: #F24333;
            text-align: center;
        }

        .log-link {
            text-decoration: none;
            padding: 10px;
            margin: 5px auto;
            color: #000;
         }
           .log-link:hover {
                cursor: pointer;
                color: #6F8AB7;
            }

    </style>
</head>
<body>
@RenderBody()
</body>
</html>