// Links on portal page
.nav-item {
  text-decoration: none;
}


// Portal page
.main-section {
  border: none;
  background-color: transparent !important;
}


// Legal app global classes
// General navigation cards
.index-card {
  border-left: 3px solid #B41946 !important;
}

.index-card:hover {
  opacity: 0.7;
}

.expansion {
  border-left: 3px solid #B41946 !important;
}
